*{
    font-family: Helvetica;
}

#lewy{
    background-color: navy;
    color: white;
    height: 700px;
    width: 25%;
    float: left;
}

#prawyjeden{
    background-color: royalblue;
    height: 100px;
    width: 75%;
    text-align: center;
    float: right;
}

#prawydwa{
    background-color: steelblue;
    height: 300px;
    width: 75%;
    float: right;
}

#prawytrzy{
    background-color: royalblue;
    height: 300px;
    width: 75%;
    text-align: center;
    float: right;
}

footer{
    background-color: steelblue;
    text-align: center;
    padding: 20px;
}

h1{
    letter-spacing: 5px;
}

form{
    margin: 30px;
    line-height: 3;
}
form:hover{
    background-color: deepskyblue;
}